@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --main-color: whitesmoke;
  --second-color: #55a320;
  --third-color: #1b1a1a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html body header{
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:2560px){
  main{
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
  }
}

/** Image de fond **/

header .enTeteIndex{
  background: url(../Images/montagne.jpeg) no-repeat center center;
  background-size: cover;
  color: white;
}

header .enTeteStage{
  background: url(../Images/programmation.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

header .enTeteContact{
  background: url(../Images/contact.jpeg) no-repeat center center;
  background-size: cover;
  color: white;
}

header .enTeteBao{
  background: url(../Images/datacenter.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

header .enTeteProfil{
  background: url(../Images/profil.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

header .enTeteVeille{
  background: url(../Images/cybersecurite.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

.wrapper{
  display: table;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  z-index: -1;
}
.wrapper .content {
  opacity: 0;
  animation: slideDown 1.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#nav-placeholder {
  position: fixed;
  z-index: 1000;
}

.enTeteIndex .content, .enTeteProfil .content, .enTeteStage .content, .enTeteContact .content, .enTeteBao .content, .enTeteVeille .content{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 10px black;
}

header h1{
  font-size: 65px;
}

.subtitle{
  font-size: 23px;
}

@media screen and (max-width: 1024px) {
  .wrapper{
    padding-left: 50px;
    padding-right: 50px;
  }

  header h1{
    font-size: 40px;
  }

  .subtitle{
    font-size: 20px;
  }
}

/** Navbar **/

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: var(--main-color);
  width: 95vw;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 20px 0;
  z-index: 99;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo a{
  text-decoration: none;
  color: var(--third-color);
}

.nav-links{
  display: flex;
  flex-direction: row-reverse;
  width: 45%;
  line-height:55px;
}

.nav-links li{
  display: flex;
  list-style: none;
  min-width: 130px;
  text-align: center;
  height: 7vh;
  align-items: center;
  justify-content: center;
}

.nav-links li:hover {
  background: var(--second-color);
  transition: background 0.3s ease;
  text-decoration-color: var(--main-color);
}

.nav-links a{
  color: var(--third-color);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--third-color);
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  nav{
    width: 100vw;
    z-index: 1;
    margin-top: 0;
    border-radius: 0;
    height: 10vh;
  }
  .nav-links{
    z-index: 1;
    position: absolute;
    justify-content: space-around;
    right: 0;
    height: 100vh;
    top: 7vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  .nav-item {
    padding : 0;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .ligne1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .ligne2{
  opacity: 0;
}

.toggle .ligne3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/** Index **/

.presentation{
  padding-top: 40px;
  justify-content: center;
  background-color: black;
  color: white;
  display: flex;
}

.presentation h2 {
  text-align: center;
}

.presentation a{
  color: white;
}

.presentation p {
  text-align: justify;
  margin: 20px 100px 10px;
}

.portrait {
  display: block;
  width: 30%;
  margin: 100px auto 0;
}

.contenuPresentation{
  margin-top: 10px;
}

.box {
  opacity: 0;
  transform: translateX(50px); /* Par défaut, animation horizontale */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition-delay: 0.3s;
}

.box.visible {
  opacity: 1;
  transform: translateX(0); /* Fin de l'animation horizontale */
}

.box.vertical {
  transform: translateY(50px); /* Animation verticale */
}

.box.vertical.visible {
  transform: translateY(0); /* Fin de l'animation verticale */
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@media screen and (max-width: 1024px) {
  .presentation p {
    margin: 20px 50px 10px;
  }
}

/** Pied de page **/

footer{
  background-color: black;
  color: white;
  text-align: center;
}

footer hr{
  margin-left: 10%;
  margin-right: 10%;
}

footer img{
  height: 30px;
  width: 30px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/** Boutons **/

.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-background: var(--second-color);
  --color-shadow: black;
  margin: 10px;
}

.btn-content {
  border: none;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--main-color);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

/** Stage **/

.AGRA{
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 black;
}

.meilleurArtisan{
  display: flex;
  margin-top: 5%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 black;
}

.imageStage {
  display: flex;
  align-self: center;
  width:30%;
}

.imageStage img {
  padding: 10px;
  width: 100%;
}

.corpsStage{
  background-color: white;
  color: black;
  display: flex;
}

.corpsStage p{
  text-align: justify;
}

.corpsStageContenu{
  width: 100%;
  margin: 5%;
}

.textEtBoutonStage{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boutonStage{
  margin-left: auto;
  margin-top: auto;
}

.AGRA h4{
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 30px;
}

.meilleurArtisan h4{
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 30px;
}

@media screen and (max-width:768px){
  .imageStage{
    display: none;
  }

  h4 {
    text-align: center;
  }

  .boutonStage{
    margin-right: auto;
  }
}

/* Contact */

.contactRapide{
  background-color: white;
  display: flex;
}

.contactRapideContenu i{
  margin-bottom: 10px;
}

.contactRapideContenu{
  margin: 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contactRapideContenu div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 200px;
  background-color: var(--main-color);
  border-radius: 2px;
  box-shadow: 0 4px 15px 0 black;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contactRapideContenu div div{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contactRapideContenu div a{
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.contactRapideContenu img {
  max-width: 100px;
  max-height: 100px;
}

.envoieMessage{
  background: url(../Images/foret.jpg) no-repeat center center;
  background-size: cover;
  color: white;
}

.envoieMessageContenu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textEnvoieMessage h4{
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 1px 1px 10px black;
  margin-bottom: 10px;
}

.textEnvoieMessage{
  text-align: center;
  margin: 5% 15%;
  text-shadow: 1px 1px 10px black;
}

.zoneEnvoie{
  margin-bottom: 5%;
  width: 50%;
}

.nomPrenom{
  display: flex;
}

.nomPrenom .name {
  margin-right: 15px;
}

.name{
  width: 25%;
}

.email {
  width: 50%;
}

input{
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Une bordure grise légère */
  border-radius: 4px;     /* Coins arrondis */
  padding: 8px;           /* Un peu d'espace intérieur */
  outline: none;          /* Supprime le contour bleu lors du focus */
}

textarea{
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  resize: none;
}

@media screen and (max-width:1000px){
  .contactRapideContenu{
    flex-direction: column;
  }

  .contactRapideContenu div{
    margin-top: 10px;
    width: 100%;
  }

  .nomPrenom{
    flex-direction: column;
    width: 100%;
  }
  .nomPrenom div{
    width: 100%;
  }

  .textEnvoieMessage{
    margin-left: 5%;
    margin-right:5%;
  }
  
  .zoneEnvoie{
    width: 80%;
  }
}

/* Modal */

.modal-container-agra, .modal-container-ma, .modal-container-cv{
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}

.modal-container-cv {
  z-index: 100000;
}

.modal-container-agra.active, .modal-container-ma.active, .modal-container-cv.active {
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

.modal-container-agra.active .overlay, .modal-container-ma.active .overlay, .modal-container-cv.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  opacity: 0;
  width: 95%;
  max-width: 800px;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}

.modal p{
  text-align: justify;
}

@media screen and (max-width:768px){
  .modal{
    max-height: 600px;
    overflow-y: auto;
  }
}

.modal-container-cv .modal{
  top: 50%;
}

.modal-container-agra.active .modal, .modal-container-ma.active .modal, .modal-container-cv.active .modal{
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

.modal img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-ma img {
  margin-bottom: 20px;
}

.modal p {
  line-height: 1.4;
  margin-bottom: 5px;
}

.modal a {
  margin-top: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #ee7752;
  font-size: 25px;

}

/* Profil */

.presentationProfil {
  background-color: white;
  display: flex;
}

.presentationCarte, .presentationQuiSuisJe .contenu {
  border-radius: 2px;
  box-shadow: 0 4px 15px 0 black;
}

.presentationCarte, .presentationQuiSuisJe {
  margin-top: 30px;
  margin-bottom: 30px;
}

.presentationCarte{
  width: 30%;
  margin-left: 5%;
}

.presentationQuiSuisJe p{
  padding-bottom: 8px;
  text-align: justify;
}

.presentationCarte iframe {
  width: 100%;
  max-height: 400px;
  height: 100%;
}

.presentationQuiSuisJe {
  width: 55%;
  margin-left: 5%;
}

.presentationQuiSuisJe .contenu {
  padding: 20px;
}

.presentationQuiSuisJe h2 {
  justify-content: end;
}

.detailProfil{
  margin-top:10px;
  margin-bottom: 10px;
}

.detailProfil p{
  text-align: justify;
}

.detailProfil h2 {
  text-align: center;
  margin-bottom: 30px;
}

.detailProfil > div {
  margin-bottom: 50px;
}

.contenuExperienceProfil {
  background-color: white;
  box-shadow: 0 1px 15px 0 black;
  padding: 15px;
  border-radius: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.contenuExperienceProfil > div {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenuExperienceProfil h3 {
  color: var(--second-color);
}

.iconExperienceProfil{
  margin-left: 5%;
  margin-right: 3%;
}

.presentationExperienceProfil{
  margin-right: 5%;
}

.experienceProfil .titre{
  margin-bottom:5px;
}

.experienceProfil {
  margin-top:20px;
  margin-bottom:20px;
}

.projetproProfil{
  margin: 20px 5%;
}

.contenuProjetproProfil {
  background-color: white;
  box-shadow: 0 1px 15px 0 black;
  padding: 15px;
  border-radius: 2px;
}

.competencesProfil{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.illustration {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.illustration > div {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  margin-bottom: 40px;
}

.illustration > div > div > div {
  width: 85%;
  padding-left: 20px;
  padding-right: 20px;
}

.illustration > div:nth-child(even) > div > div {
  width: 100%;

}

.illustration p {
  margin-top: 15px;
}

  /* Utilisation de :nth-child pour alterner les alignements */
.illustration > div:nth-child(odd) {
  align-items: flex-start;
  width: 90%;
  background-color: var(--main-color);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.illustration > div:nth-child(even) {
  align-items: flex-end;
  width: 90%; /* Largeur des div pairs */
  margin-left: auto; /* Décalage à droite */
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: var(--main-color);
}
.illustration > div:nth-child(even) > div {
  margin-right: auto;
}

.illustration > div:nth-child(even) > div:nth-child(1) {
  order: 2; /* Positionne le premier enfant en deuxième */
}

.illustration > div:nth-child(even) > div:nth-child(2) {
  order: 1; /* Positionne le deuxième enfant en premier */
}

.illustration > div:nth-child(even) ul {
  text-align: end;
}

.illustration ul {
  list-style-type: none;
  font-weight: bold;
}

.illustration .icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}

.illustration > div:nth-child(even) p {
  text-align: end;
}

@media screen and (max-width:1024px) {
  .illustration > div {
    flex-direction: column;
  }

  .illustration > div:nth-child(even) > div:nth-child(1) {
    order: 1; /* Positionne le premier enfant en deuxième */
  }

  .illustration > div:nth-child(even) > div:nth-child(2) {
    order: 2; /* Positionne le deuxième enfant en premier */
  }

  .illustration > div:nth-child(even) > div {
    margin-right: unset;
  }

  .illustration > div:nth-child(even) > .icon {
    text-align: right;
    align-items: end;
  }

  .illustration > div > div > div {
    padding-left: 0;
    padding-right: 0;
  }

  .illustration > div:nth-child(odd) > .icon {
    text-align: left;
    align-items: start;
  }
}

.competencesProfil h3{
  margin-top: 10px;
  color: var(--second-color);
}

.competencesProfil img{
  width: 80px;
}

.cvProfil {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cvProfil h2 {
  text-align: center;
  margin-bottom: 5px;
}

.contenuCV {
  display: flex;
  justify-content: center;
}

iframe{
  width: 100%;
  height: 90vh;
}

@media screen and (max-width:768px){
  .presentationProfil{
    flex-direction: column;
  }

  .presentationProfil .presentationDroiteProfil{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .presentationProfil div{
    width: 90%;
  }

  .presentationQuiSuisJe {
    margin-top: 0;
    margin-bottom: 0;
  }

  .presentationQuiSuisJe div {
    width: 100%;
  }

  .presentationQuiSuisJe h2 {
    text-align: center;
  }

  .detailExperienceProfil{
    flex-direction: column;
  }

  .detailExperienceProfil h3{
    text-align: center;
  }

  .boxCompetence{
    margin-bottom: 30px;
  }
}
