# Activer le moteur de réécriture
RewriteEngine On

# Renommage de la barre de navigation
RewriteRule ^navbar$ navbar.php [L]

# Supprimer l'extension .php ou .html
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
